@{
    Layout = "";
}
@model Nop.Plugin.Shipping.Gls.Models.GlsShippingModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GatewayUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GatewayUrl)
                @Html.ValidationMessageFor(model => model.GatewayUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Rate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Rate)
                @Html.ValidationMessageFor(model => model.Rate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.NumberOfSearchResults):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.NumberOfSearchResults)
                @Html.ValidationMessageFor(model => model.NumberOfSearchResults)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>    
}