@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    Html.AppendScriptParts("~/Themes/Furniture/Scripts/jquery.dd.min.js");

    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")">
            <img title="" alt="@storeName" src="@Url.Content(logoPath)">
        </a>
    </div>
    <div class="header-upper">
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-selectors-wrapper">
            <div class="search-box store-search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
            <div class="selectors">
                @Html.Action("TaxTypeSelector", "Common")
                @Html.Action("LanguageSelector", "Common")
                @Html.Action("CurrencySelector", "Common")
                @Html.Widget("header_selectors")
            </div>
        </div>
        <div class="header-shoppingcart-wrapper">
            @Html.Action("ShoppingCartBox", "ThemeHelperFurniture")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            @Html.Action("Welcome", "ThemeHelperFurniture")
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {
        try {
            $(".header-selectors-wrapper select").msDropDown();
        } catch (e) {
            alert(e.message);
        }
    });
</script>